main {
  max-width: 720px;
  margin: 0 auto;
}

.trophy {
  width: 80px;
  height: 80px;
}

.avatar {
  background: #e8e8ff;
}

.avatar-1 {
  background: #e1f0ff; /* soft pink */
}

.avatar-2 {
  background: #ffe2e5; /* soft blue */
}

.avatar-3 {
  background: #e5f8e8; /* soft green */
}

.avatar-4 {
  background: #fff2e1; /* soft orange */
}

.avatar-5 {
  background: #f7e5f8; /* soft purple */
}

.friends-list {
  max-height: 260px;
  overflow-y: auto;
}
